<h2>Choose an artist you'd like to view</h2>

<% Artist.all.each do |artist| %>
  <% if artist.is_artist? %>
    <%= button_to artist.name, artist_pieces_path(artist), :method => :get, :class => "btn btn-secondary"%>
    <%= button_to "#{artist.first_name}'s Profile", artist_path(artist), :method => :get, :class => "btn btn-secondary"%>
    <hr>
  <% end %>
<% end %>