<h2><%=@artist.name %></h2>
<% if can? :create, Piece %>
  <%= link_to "Upload a new image", new_piece_path %>
<% end %>
<br>
<%= render partial:'artists_pieces', locals: {artist: @artist}%>
<p>TODO fix this page</p>
