<input type="radio" name="user[type]" id="user_type_artist" value="artist" <%= "checked" unless !user.is_artist? %>>
  <label for="user_type_artist">Artist</label>
  <input type="radio" name="user[type]" id="user_type_artist" value="customer" <%= "checked" unless user.is_artist? %>>
  <label for="user_type_customer">Customer</label><br> 