<h2>List of all art:</h2>
<li>
  <% @pieces.each do |piece| %>
    Title:<%= link_to piece.name, piece_path(piece) %>
    Artist:<%= piece.artist.name %>
    <p>TODO image of piece</p>
  <% end %>
</li>