<h2>Pieces in category "<%= @category.name %>":</h2>

<% if can? :edit, @category %>
  <%= button_to "Edit Category", edit_category_path, :method => :get, :class => "btn btn-secondary"%>
<% end %>
<% if @category.pieces.empty? %>
  <p>No pieces added yet...</p>
<% else %>
  <ul>
    <% @category.pieces.each do |piece| %>
      <li><%= link_to piece.name, piece_path(piece) %></li>
    <% end %>
  </ul>
<% end %>
